<div class="rounded-lg my-2">
  <%= line_chart calculate_ranks(ranks) %>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg border top-2.5">
    <table class="w-full striped text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
            Player Name</th>
            <th scope="col" class="px-6 py-3">
            Country</th>
            <th scope="col" class="px-6 py-3">
            State</th>
            <th scope="col" class="px-6 py-3">
            Gender</th>
            <th scope="col" class="px-6 py-3">
            Success Rate</th>
            <th scope="col" class="px-6 py-3">
            Game Played</th>
          </tr>
        </thead>
        <tbody>
          <% if ranks.count > 0 %>
            <% ranks.each do |rank| %>
              <tr class="<%= cycle('odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800', 'dark:bg-gray-800 dark:even:bg-gray-900 dark:odd:bg-gray-900 dark:even:bg-gray-800') %> border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  <%= rank.user.is_team_admin ? rank.team.name : "#{rank.user.first_name} #{rank.user.last_name}"  %>
                </th>
                <td class="px-6 py-4">
                  <%= rank.user.country %>
                </td>
                <td class="px-6 py-4">
                  <%= rank.user.state %>
                </td>
                <td class="px-6 py-4">
                  <%= rank.user.gender %>
                </td>
                <td class="px-6 py-4 <%= rank.success_rate.to_i > 50 ? "text-green-400" : 'text-red-400'%>">
                  <%= rank.success_rate %>
                </td>
                <td class="px-6 py-4">
                  <%= rank.user.is_team_admin ? rank.team.games.count : rank.user.games.count  %>
                </td>
              </tr>
            <% end %>
          <% else %>
              <tr class='text-center'>
                <td colspan='7' class='font-semibold italic'>No record Found</td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>