<div class="my-8 mx-12" data-controller='stat tab'>
  <!-- Stats -->
  <h2 class="text-3xl text-center font-bold mb-6 text-gray-800 dark:text-white">Select for Compare</h2>

  <div class='flex content-center'>
    <div class="w-full text-center max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <div class="mb-4 flex justify-center">
        <button id="individual-tab" class="focus:outline-none bg-transparent border-b-2 text-gray-600 font-semibold px-4 py-2 rounded-t-md <%= params[:user_1].present? || params[:user_2].present? ? 'border-blue-500' : 'border-transparent' %>">User</button>
        <button id="team-tab" class="focus:outline-none bg-transparent border-b-2 text-gray-600 font-semibold px-4 py-2 rounded-t-md <%= params[:team_1].present? || params[:team_2].present? ? 'border-blue-500' : 'border-transparent' %>">Team</button>
      </div>
      <div class="<%= params[:user_1].present? || params[:user_2].present? ? '' : 'hidden' %> individual-form">
        <%= form_with(url: compare_path, method: :get) do |form| %>
          <div class="flex items-center my-2">
            <%= form.select :user_1, options_for_select(user_list, params[:user_1]), {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
          </div>
          <div class="flex items-center my-2">
            <%= form.select :user_2, options_for_select(user_list, params[:user_2]), {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
          </div>
          <%= form.submit "Filter", class: "bg-blue-500 hover:bg-blue-600 my-2 text-white px-2 py-1 rounded-md transition duration-300 ease-in-out" %>
        <% end %>
      </div>

      <div class="<%= params[:team_1].present? || params[:team_2].present? ? '' : 'hidden' %> team-form">
        <%= form_with(url: compare_path, method: :get) do |form| %>
          <div class="flex items-center my-2">
            <%= form.select :team_1, options_for_select(team_list, params[:team_1]), {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
          </div>
          <div class="flex items-center my-2">
            <%= form.select :team_2, options_for_select(team_list, params[:team_2]), {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
          </div>
          <%= form.submit "Filter", class: "bg-blue-500 hover:bg-blue-600 my-2 text-white px-2 py-1 rounded-md transition duration-300 ease-in-out" %>
        <% end %>
      </div>
    </div>
  </div>

  <% if params[:user_1].present? || params[:team_1].present? %>
    <div class='w-full flex'>
      <!-- Overall Ranking -->
      <div class="sm:w-2/4 mb-10 px-4">
        <%= render 'compare_table', games: @records1  %>
      </div>
      <div class="sm:w-2/4 mb-10 px-4">
        <%= render 'compare_table', games: @records2 %>
      </div>
    </div>
  <% end %>
</div>
