<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto  ">
    <div class="flex flex-wrap -mx-4 -mb-10  ">
      <div class="sm:w-1/4 mb-10 px-4">
        <div class="rounded-lg h-96 overflow-hidden border">
        
        <div class="max-w-md  bg-white p-3 rounded-md ">

        <!-- Heading -->
        <h2 class="text-2xl font-bold mb-4">Purchase Options</h2>
    
        <!-- Paragraph -->
        <p class="text-gray-600 mb-4">Choose your game and make a purchase to participate. </p>
    
        <!-- Buttons -->
        <div class="flex space-x-2">
          <button class="bg-green-500 text-white px-4 py-0 rounded-md hover:bg-green-600  focus:outline-none focus:ring focus:border-green-300">Start Game</button>
          <button class="bg-blue-500  text-white px-8 py-1 rounded-md hover:bg-blue-600  focus:outline-none focus:ring focus:border-blue-300 ">Purchase</button>
        </div>
      </div>
        </div>
      </div>
      <div class="sm:w-3/4 mb-10 px-4">
        <div class="rounded-lg h-96 overflow-hidden border">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg border top-2.5">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                    Game</th>
                    <th scope="col" class="px-6 py-3">
                    Shorts Available</th>
                    <th scope="col" class="px-6 py-3">
                    Successful Passes</th>
                    <th scope="col" class="px-6 py-3">
                    Missed Attempts</th>
                    <th scope="col" class="px-6 py-3">
                    Success Rate</th>
                    <th scope="col" class="px-6 py-3">
                    Game Status</th>
                    <th scope="col" class="px-6 py-3">
                      Actions</th>
                    </tr>
            </thead>
            <tbody>
              <% if current_user.games.present? %>
                <% current_user.games.each do |game| %>
                  <tr class="<%= cycle('odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800', 'dark:bg-gray-800 dark:even:bg-gray-900 dark:odd:bg-gray-900 dark:even:bg-gray-800') %> border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      <%= game.game_name %>
                    </th>
                    <td class="px-6 py-4">
                      <%= game.no_of_shots %>
                    </td>
                    <td class="px-6 py-4">
                      <%= game.shorts.where(result: true).count %>
                    </td>
                    <td class="px-6 py-4">
                      <%= game.shorts.where(result: false).count %>
                    </td>
                    <td class="px-6 py-4">
                      <% if game.shorts.any? %>
                        <%= number_to_percentage((game.shorts.where(result: true).count.to_f / game.shorts.count) * 100, precision: 2) %>
                      <% else %>
                        0%
                      <% end %>
                    </td>
                    <td class="px-6 py-4">
                      <%= game.status %>
                    </td>
                    <td class="d-flex align-items-center justify-content-end">
                      <%= link_to 'Show', game_path(game), class: 'mx-2 btn btn-sm btn-light text-dark' %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
