<div class="my-8 mx-12" data-controller='stat'>
  <!-- Stats -->
  <h2 class="text-3xl text-center font-bold mb-6 text-gray-800 dark:text-white">Stats</h2>

  <div class="grid grid-cols-2 gap-6 md:grid-cols-3 lg:grid-cols-4">
    <!-- Total Games -->
    <%= render 'card_stats', heading: 'Total Games', count: total_games %>

    <!-- In Progress Game -->
    <%= render 'card_stats', heading: 'In Progress Games', count: in_progress_games %>

    <!-- Completed Game -->
    <%= render 'card_stats', heading: 'Completed Games', count: completed_games %>

    <!-- Total Teams -->
    <%= render 'card_stats', heading: 'Total Teams', count: total_teams %>

    <!-- Total Users -->
    <%= render 'card_stats', heading: 'Total Users', count: total_users %>
  </div>

  <div class='text-center'>
    <div class='flex'>
      <div class='w-1/2 text-center'>
        <!-- Ranking -->
        <div class="sm:w-full mb-10 px-4">
          <%= render 'rank_table', heading: "Ranks on Score", ranks: @ranks  %>
        </div>  
      </div>
      <div class='w-1/2 text-center'>
        <!-- Ranking -->
        <div class="sm:w-full mb-10 px-4">
          <%= render 'rank_table', heading: "Ranks on Max Streak", ranks: @ranks_with_streak  %>
        </div>
      </div>
    </div>
    <%= paginate @ranks %>
  </div>
</div>
