<% 
  team = Team.new 
  users = team.users.build
%>

<div class="bg-gray-100 flex items-center justify-center min-h-screen">

  <div data-controller="tab" class="bg-white p-8 rounded-md shadow-md max-w-md w-full">

    <div class="flex items-center justify-center mb-8">
      <%= image_tag("logo.png", alt: "Your Logo", class: "h-32 w-32 mr-2") %>
    </div>

    <div class="mb-4 flex justify-center">
      <button id="individual-tab" class="focus:outline-none bg-transparent border-b-2 border-blue-500 text-gray-600 font-semibold px-4 py-2 rounded-t-md">Individual</button>
      <button id="team-tab" class="focus:outline-none bg-transparent border-b-2 border-transparent text-gray-600 font-semibold px-4 py-2 rounded-t-md">Team</button>
    </div>

    <div class="individual-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f| %>

        <%= render "devise/shared/error_messages", resource: resource %>

        <%= render "shared/user_form_fields", f: f %>

        <div>
          <%= f.submit "Sign up", class: "w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300" %>
        </div>

      <% end %>
    </div>

    <div class="hidden team-form">
      <%= form_for(team, url: teams_path, html: {class: "form"}) do |form| %>
        <% if team.errors.any? %>
            <div class="error-message">
                <h2><%= pluralize(team.errors.count, "error") %> prohibited this game from being saved:</h2>
                <ul>
                    <% team.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="mb-4">
          <%= form.label "Team Logo", class: "block text-gray-600 text-sm font-semibold mb-2" %>
          <div class="relative pt-3">
              <%= render 'shared/image_form', f: form %>
          </div>
        </div>
    
        <div class="mb-4">
            <%= form.label 'Team Name', class: "block text-gray-600 text-sm font-semibold mb-2" %>
            <%= form.text_field :name, autofocus: true, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500", required: true %>
        </div>
        

        <%= form.fields_for users do |user_form| %>
          <%= render "shared/user_form_fields", f: user_form %>
        <% end %>
    
        <%= form.submit "Submit", class: "w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300" %>
      <% end %>
    </div>

    <div class="mt-4 text-center">
      <span class="text-gray-600">Already have an account?</span>
      <%= link_to 'Login', new_user_session_path , class: "text-blue-500 ml-1"%>

    </div>

  </div>

</div>
















