<div class="mt-8 mx-12">
  <!-- Game Statistics -->
  <h2 class="text-3xl font-bold mb-6 text-gray-800 dark:text-white">Game Statistics</h2>

  <div class="grid grid-cols-2 gap-6 md:grid-cols-3 lg:grid-cols-4">
    <!-- Game Name -->
    <div class="bg-white dark:bg-gray-800 dark:text-white p-8 rounded-md shadow-md">
      <h3 class="text-lg font-semibold mb-4">Game Name</h3>
      <p class="text-4xl font-bold"><%= game.game_name %></p>
    </div>

    <!-- No of Shots -->
    <div class="bg-white dark:bg-gray-800 dark:text-white p-8 rounded-md shadow-md">
      <h3 class="text-lg font-semibold mb-4">No of Shots</h3>
      <p class="text-4xl font-bold"><%= game.no_of_shots %></p>
    </div>

    <!-- Successful Shots -->
    <div class="bg-white dark:bg-gray-800 dark:text-white p-8 rounded-md shadow-md">
      <h3 class="text-lg font-semibold mb-4">Successful Shots</h3>
      <p class="text-4xl text-green-400 font-bold"><%= game.shorts.where(result: true).count %></p>
    </div>

    <!-- Failed Shots -->
    <div class="bg-white dark:bg-gray-800 dark:text-white p-8 rounded-md shadow-md">
      <h3 class="text-lg font-semibold mb-4">Failed Shots</h3>
      <p class="text-4xl text-red-400 font-bold"><%= game.shorts.where(result: false).count %></p>
    </div>

    <!-- Success Rate -->
    <div class="bg-white dark:bg-gray-800 dark:text-white p-8 rounded-md shadow-md">
      <h3 class="text-lg font-semibold mb-4">Success Rate</h3>
      <p class="text-4xl font-bold">
        <% if game.shorts.any? %>
          <%= number_to_percentage((game.shorts.where(result: true).count.to_f / game.shorts.count) * 100, precision: 2) %>
        <% else %>
          0%
        <% end %>
      </p>
    </div>

    <!-- Status -->
    <div class="bg-white dark:bg-gray-800 dark:text-white p-8 rounded-md shadow-md">
      <h3 class="text-lg font-semibold mb-4">Status</h3>
      <p class="text-4xl font-bold"><%= game.status.to_s.humanize %></p>
    </div>
  </div>
  <div class="text-center py-8"> 
    <% if game.status == 'completed' %>
      <%= link_to "Done", authenticated_root_path, class: "text-white mx-2 my-2 px-6 rounded-md py-2 h-4 w-4 bg-blue-400", data:{turbo: false} %>
    <% end %>
  </div>
</div>
