<div class="flex items-center mb-6 mt-8 mx-12">
  <div class="mr-4">
    <%= render 'shared/show_image', obj: current_user, size: '150px' %>
  </div>
  <div>
    <h2 class="text-xl font-semibold text-gray-800 dark:text-white"><%= current_user.first_name %> <%= current_user.last_name %></h2>
  </div>
</div>
<%= turbo_stream_from @game %>
<%= turbo_frame_tag "game_#{@game.id}" do %>
  <%= render @game %>
<% end %>
