<style>
    body {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
      background-color: #f3f4f6;
      margin: 0;
    }

    .container {
      max-width: 24rem;
      width: 100%;
      padding: 1.5rem;
      background-color: #ffffff;
      border-radius: 0.375rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .logo-container {
      margin-bottom: 2rem;
      text-align: center;
    }

    .logo {
      max-height: 4rem;
      width: auto;
    }

    .form-container {
      margin: 0;
      display: flex;
      flex-direction: column;
    }

    .input-field {
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      box-sizing: border-box;
    }

    .remember-me-container {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    .btn-primary {
      background-color: #4caf50;
      color: #fff;
      padding: 1rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      font-size: 16px;
    }

    .btn-primary:hover {
      background-color: #45a049;
    }
  </style>
  <div class="container">

    <!-- Logo -->
    <div class="logo-container">
      <%= image_tag("logo.png", alt: "Your Logo", class: "logo") %>
    </div>

    <!-- Form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-container"}) do |f| %>

      <!-- Email Field -->
      <div>
        <%= f.label :email, class: "block text-sm font-medium leading-6 text-gray-900", style: "margin-bottom: 0.5rem;" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
      </div>

      <!-- Password Field -->
      <div>
        <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900", style: "margin-bottom: 0.5rem;" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input-field" %>
      </div>

      <!-- Remember Me Checkbox -->
      <% if devise_mapping.rememberable? %>
        <div class="remember-me-container">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, style: "margin: 0;" %>
        </div>
      <% end %>

      <!-- Submit Button -->
      <div>
        <%= f.submit "Log in", class: "btn-primary", style: "text-align: center;" %>
      </div>

    <% end %>

    <%= link_to 'Sign Up', new_user_registration_path %>
    <br>
    <%= link_to 'Forgot Password?', new_user_password_path %>

  </div>
