<!DOCTYPE html>
<html>
  <head>
    <title>RingGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <p class="text-green-500"><%= notice %></p>
      <div class="dashboard-top">
        <%= render partial: 'shared/navbar' %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
